* {
  color: #5f5a6b;
  font-family: 'Open Sans', sans-serif;
/*  text-transform: capitalize;
*/}

html,
body {
  background-color: #eaeaea;
  height: 100%;
}

/*NAV BAR STYLING*/
nav {
  align-items: center;
  background-color: #524649;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 800;
}

h1 span {
  color: #B2A1B1;
  text-transform: lowercase;
}

#search {
  font-size: 24px;
  height: 26px;
}

.search-section {
  position: relative;
  width: 30%;
}

.search-input {
  border-radius: 5px;
  border: 3px solid #ada9b6;
  color: #7C7879;
  float: left;
  height: 20px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.fa-search {
  color: #FFFFFF;
}

#searchBtn {
  background: #ada9b6;
  border-radius: 5px;
  border: 1px solid #ada9b6;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 42px;
  position: absolute;  
  right: -50px;
  text-align: center;
  width: 40px;
}

main {
  display: grid;
  grid-template-rows: 470px 1fr;
}

/*INPUT AREA STYLING*/
h3 {
  font-weight: 300;
  margin-bottom: 10px;
}

.input-area {
  justify-content: center;
  margin: auto;
  width: 550px;
}

.input-area input {
  border-radius: 5px;
  border: 2px solid #d6d2d9;
  height: 35px;
  width: 100%;
}

#body {
  border-radius: 5px;
  border: 2px solid #d6d2d9;
  height: 150px;
  word-wrap: break-word;
}

#save {
  background-color: #63646b;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 700;
  height: 40px;
  margin: 16px 0;
  width: 101%;
}

/*QUALITY BUTTONS*/
.quality {
  margin: auto;
}

.quality button {
  background-color: #63646b;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 700;
  height: 40px;
  margin: 0 10px;
  padding: 10px;
  width: 150px;
}

/*CARD AREA STYLING*/
.cards-section {
  background-color: #F9F9FA;
  display: block;
  height: 100%;
}

.card-section.is-hidden {
  display: none;
}

.card {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #d6d2d9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 550px;
}

h2 {
  margin: 0;
  padding: 15px;
}

.body-text {
  border-bottom: 2px solid #d6d2d9;
  margin: 0;
  padding: 15px;
}

.quality {
  font-weight: 800;
}

div {
  align-items: center;
  display: grid; 
  grid-template-columns: 13% 13% 61% 13%;
  /*Is the 'end' working here? Linter is angry.*/
  justify-content: end;
  padding: 5px;
}

img {
  width: 40px;
}

.delete {
  float: right;
}

/*SHOW MORE BUTTON*/

footer {
  margin: 0 auto;
  padding: 1rem;
}

.show-more {
  background-color: #63646b;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 700;
  height: 40px;
  margin: 0 10px;
  padding: 10px;
  width: 150px;
}



