* {
  font-family: 'Open Sans', sans-serif;
  color: #5f5a6b;
}

html,
body {
  background-color: #eaeaea;

}

/*NAV BAR STYLING*/
nav {
  background-color: #524649;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 800;
}

h1 span {
  color: #B2A1B1;
  text-transform: lowercase;
}

#search {
  font-size: 24px;
  height: 26px;
}

.search-section {
  width: 30%;
  position: relative;
}

.search-input {
  float: left;
  width: 100%;
  border: 3px solid #ada9b6;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #7C7879;
}

.fa-search {
  color: #FFFFFF;
}

#searchBtn {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 42px;
  border: 1px solid #ada9b6;
  background: #ada9b6;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

main {
  display: grid;
  grid-template-rows: 525px 1fr;
}

/*INPUT AREA STYLING*/
h3 {
  font-weight: 300;
  margin-bottom: 10px;
}

.input-area {
  height: 500px;
  justify-content: center;
  margin: 0px auto;
  width: 57%;
  max-width: 550px;
}

.input-area input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #d6d2d9;
}

#idea-body {
  height: 150px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #d6d2d9;
  width: 100%;
  word-wrap: break-word;
}

#counter {
  font-weight: 800;
}

#save {
  background-color: #63646b;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 700;
  height: 40px;
  margin: 16px 0px;
  width: 101%;
}

#save:disabled {
  background-color: #bbbeca;
}

/*QUALITY BUTTONS*/
.quality {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-weight: 800;
}

.quality button {
  background-color: #b69eb1;
  border-radius: 5px;
  border: 0;
  color: #4b4c50;
  font-weight: 700;
  padding: 10px;
  width: 150px;
  height: 40px;
}

h6 {
  margin: 40px 0px 10px;
  font-size: 16px;
}

/*CARD AREA STYLING*/
.cards-section {
  background-color: #F9F9FA;
  height: 2180px;
  overflow: hidden;
}

.card {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #d6d2d9;
  box-sizing: border-box;
  display: flex;
  height: 165px;
  flex-direction: column;
  height: 165px;
  margin: 50px auto;
  max-width: 550px;
  width: 57%;
}

h2 {
  height: 30px;
  margin: 0;
  height: 30px;
  padding: 15px;
}

.body-text {
  padding: 15px;
  border-bottom: 2px solid #d6d2d9;
  margin: 0;
  overflow: scroll;
}

div {
  display: grid; 
  grid-template-columns: 13% 13% 61% 13%;
  align-items: center;
  justify-content: end;
  padding: 5px;
}

img {
  width: 40px;
}

.delete {
  float: right;
}


footer {
  display: flex;
}

.show-more {
  background-color: #63646b;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 700;
  height: 40px;
  margin: 2rem auto;
  padding: 10px;
  width: 150px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 850px) {
  .quality {
    display: flex;
    flex-direction: column;
  }

  .quality button {
     width: 75%;
     margin: 10px auto;
  }

  main {
    grid-template-rows: 650px 1fr;
  }

  nav {
    display: inline-flex;
    justify-content: none;
    width: 100%;
  }

  .search-section {
    margin-right: 55px;
  }
  
  @media screen and (max-width: 700px) {
    nav {
      height: 165px;
      text-align: center;
      display: inline-block;
    }

    .search-section {
      margin: auto;
    }

    .card {
      margin: 10px auto;
      width: 94%;
    }
  }

  @media screen and (max-width: 600px) {
    
    .search-section {
      width: 47%;
    }

    img {
      width: 30px;
    }

  }
  
  @media screen and (max-width: 420px) {
    
    .search-section {
      width: 50%;
    }

    .input-area {
      width: 85%
    }
    
    #search {
      height: 18px;
    }

    #searchBtn {
      height: 34px;
    }

    img {
      width: 25px;
    }

    h1 {
      font-size: 1.5rem;
    }

    nav {
      height: 110px;
    }

    .cards-section {
      height: 1940px;
    }
  }
}
